#logo {
  font-size: 2em;
  font-family: 'Bungee', cursive;
}

nav {
  height: 150px;
  z-index: 289;
  color: #FFFFFF;
  position: fixed;
  background-color: #4056A1;
  top: 0;
  left: 0;
  position: fixed;
  right: 0;
  padding: 1.5em;
}

#newTweetText{
  float: right;
}

div.newTweetButton{
  position: relative;
  display: flex;
  flex-direction: column;
  float: right;
  align-items: center;
}

span#downArrow {
  color: orangered;
}

div.newTweetButton:hover #downArrow{
  
}


