#logo {
  font-size: 2em;
  font-family: 'Bungee', cursive;
}

nav {
  height: 150px;
  z-index: 289;
  color: #FFFFFF;
  position: fixed;
  background-color: #4056A1;
  top: 0;
  left: 0;
  position: fixed;
  right: 0;
  padding: 1.5em;
}

#newTweetText{
  float: right;
}

div.newTweetButton{
  position: relative;
  display: flex;
  flex-direction: column;
  float: right;
  align-items: center;
}

span#downArrow {
  color: orangered;
}

/* Animation for Arrow Bounce */
@keyframes bounce {
	0%, 20%, 60%, 100% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}

	40% {
		-webkit-transform: translateY(20px);
		transform: translateY(20px);
	}

	80% {
		-webkit-transform: translateY(10px);
		transform: translateY(10px);
	}
}

/* Animation for Arrow Bounce on hover*/
 div.newTweetButton:hover #downArrow{
  animation: bounce 1s;
} 


